<div class="account-page">
    <snap-drawer>
        <div class="snap-menu">
            <div class="sidebar-header text-center">
                <img src="images/flat-avatar.jpg" alt="" class="sidebar-img img-circle">
            </div>
            <ul class="snap-ul">
                <li ng-class="{active: $state.includes('home')}"><a ui-sref="home">Bảng Tin</a></li>
                <li ng-class="{active: $state.includes('post')}"><a ui-sref="post">Đăng Tin</a></li>
                <li ng-class="{active: $state.includes('map')}"><a ui-sref="map">Bản Đồ</a></li>
                <li ng-class="{active: $state.includes('account')}"><a ui-sref="account">Thông Tin Tài Khoản</a></li>
                <li ng-class="{active: $state.includes('about')}"><a ui-sref="about">Thông Tin Ứng Dụng</a></li>
                <li><a ui-sref="logout">Đăng Xuất</a></li>
            </ul>
        </div>
    </snap-drawer>

    <snap-dragger></snap-dragger>

    <snap-content snap-opt-tap-to-close="false">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
            <span class="menutoggle">
<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
</span>
        </a>

        <a ui-sref="logout" class="pull-right" style="font-size:30px; margin-top:0px; margin-right:10px;">
            <i class="fa fa-power-off"></i>
        </a>
        <a ui-sref="account" class="nounderline pull-right" style="margin-top:10px; margin-right:10px;">{{getAccountName()}}</a>
        <a ui-sref="home" class="nounderline pull-right" style="margin-top:10px; margin-right:10px;">Home</a>

        <div class="fr">
            <h2>Thông Tin Tài Khoản</h2>
        </div>

        <div class="container-fluid col-md-4 col-md-offset-4">

            <div class="form-content">
                <h3 style="padding:0px 0px 50px 0px;">Cập Nhật Tài Khoản</h3>
                <form role="form" ng-submit="updateAccount()">
                    <div style="padding:0px 0px 20px 0px;" class="text-danger">
                        {{message}}
                    </div>
                    <div class="table-form">
                        <div class="form-groups">
                            <div class="form-group">
                                <span style="padding:10px 0px 0px 0px;">Email:</span>
                                <input ng-model="user.email" type="text" class="form-control input-lg" readonly>
                            </div>
                            <div class="form-group">
                                <span style="padding:10px 0px 0px 0px;">Họ tên:</span>
                                <input ng-model="user.name" type="text" class="form-control input-lg" />
                            </div>
                            <div class="form-group">
                                <span style="padding:10px 0px 0px 0px;">Số điện thoại:</span>
                                <input ng-model="user.phone_number" type="text" class="form-control input-lg">
                            </div>

                            <button type="submit" class="btn btn-warning pull-right">
                                <span>Cập nhật tài khoản</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>


            <div class="form-content" ng-show="accountType">
                <h3 style="padding:0px 0px 50px 0px;">Thay Đổi Mật Khẩu</h3>
                <form role="form" ng-submit="changePassword()">
                    <div style="padding:0px 0px 20px 0px;" class="text-danger">
                        {{message1}}
                    </div>
                    <div class="table-form">
                        <div class="form-groups">
                            <div class="form-group">
                                <span style="padding:10px 0px 0px 0px;">Mật khẩu cũ:</span>
                                <input type="password" class="form-control input-lg" ng-model="oldPassword">
                            </div>
                            <div class="form-group">
                                <span style="padding:10px 0px 0px 0px;">Mật khẩu mới:</span>
                                <input type="password" class="form-control input-lg" ng-model="newPassword">
                            </div>
                            <div class="form-group">
                                <span style="padding:10px 0px 0px 0px;">Xác nhận mật khẩu:</span>
                                <input type="password" class="form-control input-lg" ng-model="newPassword1">
                            </div>

                            <button type="submit" class="btn btn-warning pull-right">
                                <span>Cập nhật mật khẩu</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </snap-content>
</div>