<div ng-init="init()">
    <snap-drawer>
        <div class="snap-menu">
            <div class="sidebar-header text-center">
                <img src="images/flat-avatar.jpg" alt="" class="sidebar-img img-circle">
            </div>
            <ul class="snap-ul">
                <li ng-class="{active: $state.includes('home')}"><a ui-sref="home">Bảng Tin</a></li>
                <li ng-class="{active: $state.includes('post')}"><a ui-sref="post">Đăng Tin</a></li>
                <li ng-class="{active: $state.includes('map')}"><a ui-sref="map">Bản Đồ</a></li>
                <li ng-class="{active: $state.includes('account')}"><a ui-sref="account">Thông Tin Tài Khoản</a></li>
                <li ng-class="{active: $state.includes('about')}"><a ui-sref="about">Thông Tin Ứng Dụng</a></li>
                <li><a ui-sref="logout">Đăng Xuất</a></li>
            </ul>
        </div>

    </snap-drawer>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false">

        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
            <span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
        </a>

        <a ui-sref="logout" class="pull-right" style="font-size:30px; margin-top:0px; margin-right:10px;">
            <i class="fa fa-power-off"></i>
        </a>
        <a ui-sref="account" class="nounderline pull-right" style="margin-top:10px; margin-right:10px;">{{getAccountName()}}</a>
        <a ui-sref="home" class="nounderline pull-right" style="margin-top:10px; margin-right:10px;">Home</a>
        <input type="button" class="goToTop" value="Scroll Top" style="display:none;background-color:red" />
        <div class="fr">
            <h2>Tin Tức Giao Thông</h2>
        </div>

        <div class="jumbotron">
            <div class="container-fluid col-md-8 col-md-offset-2" ng-init="init()">
                {{tam}}
                <div infinite-scroll='service.loadOlderFeeds()' infinite-scroll-disabled='service.isBusy()' infinite-scroll-distance='2'>
                    <div ng-repeat='model in service.getAllFeeds()'>
                        <div class="bootcards-cards hidden-xs">
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <div class="panel-title">
                                        <span style="font-weight: bold; color:black;" class="pull-left">{{model.name}}&nbsp;</span>
                                        <span style="font-weight: bold; color:black;" class="pull-left">tại&nbsp;</span>
                                        <span style="font-weight: bold; color:blue;" class="pull-left">{{model.route}},&nbsp;</span>
                                        <span style="font-weight: bold; color:blue;" class="pull-left">{{model.province}}</span>
                                    </div>

                                    <i class="fa fa-times pull-right" ng-click="service.hideFeed(model.post_id)"></i>
                                </div>

                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <img class="img" src='{{"http://trafficsocial.azurewebsites.net" + model.image_link}}' />
                                        </div>
                                        <div class="col-md-5">
                                            <div style="font-family: Georgia, 'Times New Roman', Times, serif;" class="list-group">
                                                <div class="list-group-item">
                                                    <label style="font-weight: bold; font-size: 14px">Lỗi cảnh báo:</label>
                                                    <h4 style="font-weight: bold; color:red;" class="list-group-item-heading">{{model.error_warning}}</h4>
                                                </div>

                                                <div class="list-group-item">
                                                    <label style="font-weight: bold; font-size: 14px">Chi tiết vi trí:</label>
                                                    <h4 class="list-group-item-heading">{{model.location_detail}}</h4>
                                                </div>

                                                <div class="list-group-item">
                                                    <label style="font-weight: bold; font-size: 14px">Cảnh báo:</label>
                                                    <h4 style="font-weight: bold; color:red;" class="list-group-item-heading">{{model.warning}}</h4>
                                                </div>

                                                <div class="list-group-item">
                                                    <label style="font-weight: bold; font-size: 14px">Mô tả:</label>
                                                    <h3 class="list-group-item-heading">{{model.description}}</h4>
                                                </div>

                                                <div class="list-group-item">
                                                    <label style="font-weight: bold; font-size: 14px">Chú ý:</label>
                                                    <h4 class="list-group-item-heading">{{model.note}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-footer">
                                    <small class="pull-left"><i style="font-weight: bold; color:black;" class="fa fa-calendar"></i>&nbsp<span style="font-weight: bold; color:black;">{{formatDateTime(model.post_date)}}</span></small>
                                    <a class="actions btn btn-primary pull-right" ng-show="canEdit(model.username)" ng-click="delete(model)">
                                        <i class="fa fa-pencil"></i><span>Xóa</span>
                                        <div id="circleG" ng-show="isDeleting(model)">
                                            <div id="circleG_1" class="circleG"></div>
                                            <div id="circleG_2" class="circleG"></div>
                                            <div id="circleG_3" class="circleG"></div>
                                        </div>
                                    </a>

                                    <a class="actions btn btn-primary pull-right" ng-show="canEdit(model.username)" href="{{'#/dashboard/post?post_id=' + model.post_id}}" >
                                        <i class="fa fa-pencil"></i><span>Sửa</span>
                                    </a>

                                    <a class="actions btn btn-primary pull-right " href="{{'#/dashboard/map?location=' + model.location + '&mode=specific'}}" data-toggle="modal"\ data-target="#editModal">
                                        <i class="fa fa-map-marker"></i><span>Xem trên bản đồ</span>
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="more">
                        <div class="btn btn-primary text-center col-md-2 col-md-offset-5" ng-show="service.haveOlderFeeds()" ng-disabled="service.isBusy()" ng-click="service.loadOlderFeeds()">
                            <i class="fa fa-eye"></i>&nbsp<span ng-hide="service.isBusy()">Xem thêm</span><span ng-show="service.isBusy()">Loading...</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </snap-content>

    <span id="top-link-block" class="hidden">
    <a href="#top" class="well well-sm"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
        <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
    </a>
    </span>
    <!-- /top-link-block -->


</div>