<div>
    <snap-drawer>
        <div class="snap-menu">
            <div class="sidebar-header text-center">
                <img src="images/flat-avatar.jpg" alt="" class="sidebar-img img-circle">
            </div>
            <ul class="snap-ul">
                <li ng-class="{active: $state.includes('home')}"><a ui-sref="home">Bảng Tin</a></li>
                <li ng-class="{active: $state.includes('post')}"><a ui-sref="post">Đăng Tin</a></li>
                <li ng-class="{active: $state.includes('map')}"><a ui-sref="map">Bản Đồ</a></li>
                <li ng-class="{active: $state.includes('account')}"><a ui-sref="account">Thông Tin Tài Khoản</a></li>
                <li ng-class="{active: $state.includes('about')}"><a ui-sref="about">Thông Tin Ứng Dụng</a></li>
                <li><a ui-sref="logout">Đăng Xuất</a></li>
            </ul>
        </div>
    </snap-drawer>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
            <span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
        </a>

        <a ui-sref="logout" class="pull-right" style="font-size:30px; margin-top:0px; margin-right:10px;">
            <i class="fa fa-power-off"></i>
        </a>
        <a ui-sref="account" class="nounderline pull-right" style="margin-top:10px; margin-right:10px;">{{getAccountName()}}</a>
        <a ui-sref="home" class="nounderline pull-right" style="margin-top:10px; margin-right:10px;">Home</a> 

        <div class="fr">
            <h2>Tin Tức Giao Thông</h2>
        </div>
        
        <div class="col-md-8 col-md-offset-2" id="map">
        </div>
        
        
</div>
</snap-content>
</div>