<div class="post-page">
    <snap-drawer>
        <div class="snap-menu">
            <div class="sidebar-header text-center">
                <img src="images/flat-avatar.jpg" alt="" class="sidebar-img img-circle">
            </div>
            <ul class="snap-ul">
                <li ng-class="{active: $state.includes('home')}"><a ui-sref="home">Bảng Tin</a></li>
                <li ng-class="{active: $state.includes('post')}"><a ui-sref="post">Đăng Tin</a></li>
                <li ng-class="{active: $state.includes('map')}"><a ui-sref="map">Bản Đồ</a></li>
                <li ng-class="{active: $state.includes('account')}"><a ui-sref="account">Thông Tin Tài Khoản</a></li>
                <li ng-class="{active: $state.includes('about')}"><a ui-sref="about">Thông Tin Ứng Dụng</a></li>
                <li><a ui-sref="logout">Đăng Xuất</a></li>
            </ul>
        </div>
    </snap-drawer>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
            <span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
        </a>

        <a ui-sref="logout" class="pull-right" style="font-size:30px; margin-top:0px; margin-right:10px;">
            <i class="fa fa-power-off"></i>
        </a>
        <a ui-sref="account" class="nounderline pull-right" style="margin-top:10px; margin-right:10px;">{{getAccountName()}}</a>
        <a ui-sref="home" class="nounderline pull-right" style="margin-top:10px; margin-right:10px;">Home</a>

        <div class="fr">
            <h2>{{title}}</h2>
        </div>

        <div class="container-fluid col-md-6 col-md-offset-3">

            <div class="form-content">
                <form role="form" ng-submit="submit()">
                    <div class="table-form">
                        <div class="form-groups">
                            <div class="form-group">
                                <div>Lỗi cảnh báo:</div>
                                <select class="form-control" ng-model="errorWarning" ng-init="errorWarning = 'Khác'">
                                    <option value="Lỗi giao thông">Lỗi giao thông</option>
                                    <option value="Đường nguy hiểm">Đường nguy hiểm</option>
                                    <option value="Khác">Khác</option>
                                </select>
                                <span class="text-danger" ng-hide="validErrorWarning">Lỗi cảnh báo không hợp lệ</span>
                            </div>
                            <div class="form-group">
                                <div>Tỉnh thành:</div>
                                <select class="form-control" ng-model="province" ng-init="province = cities[0]">
                                    <option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
                                </select>
                                <span class="text-danger" ng-hide="validProvince">Tên tỉnh thành không hợp lệ</span>
                            </div>
                            <div class="form-group">
                                <div>Tuyến đường:</div>
                                <input type="text" class="form-control input-lg" ng-model="route" placeholder="Tên tuyến đường chính">
                                <span class="text-danger" ng-hide="validRoute">Tuyến đường không hợp lệ</span>
                            </div>
                            <div class="form-group">
                                <div>Chi tiết vi trí:</div>
                                <input type="text" class="form-control input-lg" ng-model="locationDetail" placeholder="Vị trí chi tiết (ngã tư, gần, đoạn từ...tới...v.v)">
                                <span class="text-danger" ng-hide="validLocationDetail">Chi tiết vị trí không hợp lệ</span>
                            </div>
                            <div class="form-group">
                                <div>Cảnh báo:</div>
                                <input type="text" class="form-control input-lg" ng-model="warning" placeholder="Cảnh báo lỗi gì? (lỗi giao thông, đường nguy hiểm, bẫy lỗi, biển báo, tín hiệu đèn, làn đường...)">
                                <span class="text-danger" ng-hide="validWarning">Cảnh báo không hợp lệ</span>
                            </div>
                            <div class="form-group">
                                <div>Mô tả:</div>
                                <textarea type="text" class="form-control input-lg" ng-model="description" placeholder="Mô tả chi tiết lỗi như thế nào?"></textarea>
                                <span class="text-danger" ng-hide="validDescription">Mô tả không hợp lệ</span>
                            </div>
                            <div class="form-group">
                                <div>Chú ý:</div>
                                <input type="text" class="form-control input-lg" ng-model="note" placeholder="Lưu ý, cách xử lý khi đi qua đoạn đường này">
                                <span class="text-danger" ng-hide="validNote">Chú ý không hợp lệ</span>
                            </div>
                            <div class="form-group">
                                <div>Hình ảnh:</div>
                                <input type="file" class="form-control input-lg" on-read-file="showContent($fileContent)" accept="image/*">
                                <span class="text-danger" ng-hide="validImage">Hình ảnh không hợp lệ</span>
                            </div>
                            <div class="form-group">
                                <div>Chọn vị trí:</div>
                                <div id="map" style="width:auto;height:400px;"></div>
                                <span class="text-danger" ng-hide="validLocation">Vị trí không hợp lệ</span>
                            </div>

                            <div class="form-group pull-right">
                                <div class="text-danger">
                                    {{message}}
                                </div>
                                <button type="submit" class="btn btn-default pull-right">
                                    <div ng-hide="isSending">Đăng tin</div>
                                    <div ng-hide="isUpdating">Cập nhật</div>
                                    <div ng-show="isLoading" class="inner-circles-loader">Loading…</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </snap-content>
</div>