.jumbotron {
    color: black;

    .panel-heading {
        .panel-title {
            color: @brand-primary;
        }

        i {
            cursor: pointer;
        }
    }

    .panel-body {
        overflow: hidden;
        
        .col-md-7 {
            overflow: hidden;
        }
    }
    
    .img {
        height: 425px;
        width: auto;
        
    }

    .list-group {
        font-size: 12px;
        .list-group-item-heading {
            font-size: 14px;
        }
        .list-group-item {
            padding-left: 8px;
        }
    }
}

.actions {
    margin-left: 10px;
}

.more {
    margin-bottom: 100px;
}

// .panel-content {
//     padding-left: 10px;
//     padding-right: 10px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     text-align: justify;
// }