#map { 
    height: 100%;
    min-height: 100%;
}

// .gm-style-iw {
// 	width: 300px !important;
// 	top: 15px !important;
// 	left: 0px !important;
// 	background-color: #fff;
// 	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
// 	border: 1px solid rgba(72, 181, 233, 0.6);
// 	border-radius: 2px 2px 10px 10px;
// }
#iw-container {
	margin-bottom: 10px;
    width: 300px;
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
    color: white;
	font-weight: 400;
	padding: 10px;
	background-color: #48b5e9;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
    color:black;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: auto;
}
.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;	
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}
.iw-bottom-gradient {
	position: absolute;
	width: 300px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}