<div class="login-page">
    <div class="img-container">
        <div class="text-center pull-right photo">
            <img src="images/flat-avatar.jpg" class="user-avatar img-circle img-responsive" />
            <h1>Mạng<br/ > <span>Xã Hội</span><br /><small>Cho</small><span>Giao Thông</span></h1>
        </div>
    </div>

    <div class="form-content">
        <form role="form" class="bottom-75" ng-submit="submit()">
            <div class="text-danger">
                {{message}}
            </div>
            <div class="table-form">
                <div class="form-groups">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" ng-model="email" placeholder="Email">
                        <span class="text-danger" ng-hide="validEmail">Email không hợp lệ</span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" ng-model="password" placeholder="Mật Khẩu">
                        <span class="text-danger" ng-hide="validPassword">Mật khẩu phải có ít nhất 6 ký tự, 1 ký tự hoa và 1 ký tự đặc biệt</span>
                    </div>
                    <div class="form-group" ng-show="isSignUp">
                        <input type="password" class="form-control input-lg" ng-model="password2" placeholder="Xác Nhận Mật Khẩu">
                        <span class="text-danger" ng-hide="validPassword2">Xác nhận mật khẩu không đúng</span>
                    </div>
                    <div class="form-group" ng-show="isSignUp">
                        <input type="text" class="form-control input-lg" ng-model="name" placeholder="Họ Tên">
                        <span class="text-danger" ng-hide="validName">Họ tên có ít nhất 6 ký tự</span>
                    </div>

                    <div class="options">
                        <span class="signInOptions" ng-show="isSignUp" ng-click="switchSignInOption(false)">Đăng Nhập</span>
                        <span class="signInOptions" ng-hide="isSignUp" ng-click="switchSignInOption(true)">Đăng Ký</span>
                        <span class="buttons" ng-init="loadExternalLogins()">
								<button type="button" class="btn btn-default oauth-login login-button" ng-show="FacebookLoginAvailable" ng-click='login("Facebook")'><img src="images/facebook.png" title="Login with Facebook"></button>
								<button type="button" class="btn btn-default oauth-login login-button" ng-show="GoogleLoginAvailable" ng-click='login("Google")'><img src="images/google.png" title="Login with Google"></button>
							</span>
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" class="btn btn-default login login-button">
                        <img ng-hide="isSending" src="images/arrow.png" alt="">
                        <div ng-show="isSending" class="inner-circles-loader">Loading…</div>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>