// wiredep-removed:bower:less
// wiredep-removed:endbower

@import "less/bootstrap.less";
// Base
@import "base.less";

// Pages
@import "pages/login.less";
@import "pages/account.less";
@import "pages/dashboard.less";
@import "pages/home.less";
@import "pages/map.less";
@import "pages/post.less";

// Widgets and Effects
@import "widgets/input-underline.less";
@import "widgets/checkbox.less";

@import "../../bower_components/bootstrap-btn-outline-rounded/index.less";
@import "transitions/all.less";
@import "transitions/animations.less";

// Other
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,body {
	overflow: hidden;
}

.form-group {
    padding: 8px 0;
    margin-bottom: 0;		
}

.form-content {
    padding: 40px 0;
}

.form-content {
    position: relative;
    .pro-link {
        a {
            color: white;
            position: absolute;
            right: 0;
            top: 0;
            font-weight: 600;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .table-form {
        display: table;
        width: 100%;
        .form-groups, .button-container {
            display: table-cell;
            vertical-align: middle;
        }
        .button-container {
            width: 100px;
        }
    }	
    .bottom-75 {
        margin-bottom: 75px;
        max-width: 400px;
    }
    .input-lg {
        border-radius: 0;
    }
    .form-control {
        background: darken(@brand-primary, 3%);
        border-color: darken(@brand-primary, 3%);
        box-shadow: none;
        color: white;
        font-weight: 600;
    }
    ::-webkit-input-placeholder {
        color: rgba(255,255,255,0.7);
        font-weight: 700;
        font-size: 16px;
        padding-top: 2px;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: rgba(255,255,255,0.7);
        font-weight: 700;
        font-size: 16px;
        padding-top: 2px;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        color: rgba(255,255,255,0.7);
        font-weight: 700;
        font-size: 16px;
        padding-top: 2px;  
    }

    :-ms-input-placeholder {  
        color: rgba(255,255,255,0.7);
        font-weight: 700;
        font-size: 16px;
        padding-top: 2px;  
    }
    .login {
        height: 110px;
        width: 100px;
        border-radius: 0;
        background: darken(@brand-primary, 3%);
        border-color: darken(@brand-primary, 3%);
        box-shadow: none;
        margin-left: 15px;
        margin-bottom: 30px;
        color: white;
        &:focus {
            outline: none;
            outline-offset: none;
        }
    }
}

.img-container, .form-content {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
}
.img-container {
    text-align: right;
    width: 40%;
    position: relative;
    
}