.login-button {
	cursor: pointer;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	&:hover {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
}

.form-group {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.form-group.ng-hide {
  opacity: 0;
}

.form-group.ng-show {
	opacity: 1;
}